* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.request-services,
.sales-and-promotions,
.contact-us,
.about-us,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.request-services {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sales-and-promotions {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-us {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

body{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  height: 600px; 
}

.form-body{
  text-align: center;
  padding: 20px 10px;
}

.form-body > *{
  padding: 25px;
}

.form__label{
  width: 40%;
}

.form_input{
  width: 60%;
}

.footer{
  text-align: center;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }

  /* styles for small screens */
@media screen and (max-width: 768px) {
  .gradient-custom-2 {
    padding: 20px;
  }
  
  .ms-4 {
    margin-top: 20px;
  }
  
  .text-black {
    padding: 20px;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .img-thumbnail {
    width: 80px;
    height: 80px;
  }
  
  .mb-2 {
    margin-bottom: 5px;
  }
}

/* styles for medium screens */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .ms-4 {
    margin-top: 50px;
  }
}

/* styles for large screens */
@media screen and (min-width: 993px) {
  .ms-4 {
    margin-top: 80px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.wrapper > div img {
  max-width: 100%;
}